name: SonarCloud Analysis

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache SonarQube Cloud packages
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Install SonarQube Cloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./.sonar/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner

      - name: Restore
        run: dotnet restore src/Soat.Eleven.FastFood.User.sln

      - name: Begin Sonar Analysis
        run: |
          ./.sonar/scanner/dotnet-sonarscanner begin \
            /k:"SoatElevenFiap_soat.eleven.fastfood.user" \
            /o:"soatelevenfiap" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" \
            /d:sonar.exclusions="**/Migrations/**,**/workflows/**,**/fastfood-chart/**,**/Dockerfile,**/*.yaml" \
            /d:sonar.qualitygate.wait=true

      - name: Build
        run: dotnet build src/Soat.Eleven.FastFood.User.sln --configuration Release --no-restore

      - name: Test with Coverage
        run: |
          dotnet test src/Soat.Eleven.FastFood.User.sln \
            --no-build \
            --configuration Release \
            /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=./coverage.opencover.xml

      - name: End Sonar Analysis
        run: ./.sonar/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
